*{
    margin: 0;
    padding: 0;
}


.image_container,img{
    height: 300px;
    height: 300;

    border-radius: 50%;
  
}
.navbar ul{
    display: flex;
   
    
    
}
.navbar li{
    margin: 10px;
     
    
    
}
.navbar {
    border: red solid;
    align-items: flex-end;
    
}
.ahmad{
    text-align: center;
    
}
